.wrapper {
    width: 100%;
    height: 100%;
}


.infomenu{
    width: 100%;
    height: 100%;
    background-color: #14161a;
    color: #fff;
}
.infomenu:hover{
    color: #61dafb;
    background-color: #343434;
}

.map-container {
    width: 100%;
    height: 100%;
  }

