.btn {
    width: 800px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.msg {
    font-size: 20px;
    color: red;
    width: 800px;
    padding: 40px 50px;
    text-align: center;
}