.wapper {
    width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4px;
    margin: 6px;
    color: rgb(50, 50, 50);
    &:hover {
        color: white;
        background-color: black;
    }
}

.primary {
    background-color: aliceblue;
    border: 3px solid rgb(90, 86, 86);
}

.success {
    color: aliceblue;
    background-color: #28a745;
    border-color: #28a745;
    &:hover {
        color: rgb(250, 234, 234);
        background-color: #117728;
    }
}

.small {
    width: 100px;
}

.medium {
    width: 150px;
}

.large {
    width: 200px;
}

.outline {
    border: 2px solid rgb(22, 194, 197);
    background-color: white;
    color: rgb(50, 50, 50);
    &:hover {
        color: white;
        border: 2px solid rgb(72, 8, 184);
    }
}

.danger {
    color: white;
    border: none;
    background-color: #dc3545;
    &:hover {
        background-color: #742028;
        border: red solid 1px;
    }
}

.warns {
    color: white;
    border: none;
    background-color: #ffc107;
    &:hover {
        background-color: #e0a800;
        border: yellow solid 1px;
    }
}

.fix {
    color: white;
    border: none;
    background-color: #117a8b;
    &:hover {
        background-color: #0c5560;
        border: rgb(21, 227, 203) solid 1px;
    }
}

.muti {
    padding: 5px;
    width: 60px;
    height: 30px;
}